h1{
    text-align: center;
    color: black;
    border: 2px solid black;
}

#canvas{

    position: absolute;
    left: 10%;
    border: 3px solid black;
}


.config{
    position: absolute;
    top: 75%;
    left: 20%;
}

.config #etiqueta{
    position: absolute;
    top: -55%;
    left: 35%;
}